/* titles stuff */

@font-face { font-family: "Minecraft"; src: url('minecraft.ttf'); } 
@font-face { font-family: "super mario 256"; src: url('SuperMario256.ttf'); } 

.titles {
    text-align: center;
    font-size: 200%;
    font-family: "super mario 256";
  }

.titles a {
    color: #AEC5EB;
    text-decoration: none;
}

.titles a:hover{
    transition: 1s;
    background-color: #252e3d;
    font-size: 101%;
}



.center {
    text-align: center;
    padding-top: 1%;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 80px
}

body {
    background-color: #3A405A;
}

/* make it so that it does this animation when the page is */

.bodytext {
    font-family: Minecraft;
    font-size: 100%;
    opacity: 100%;
    color: #E9AFA3
}
/* .bodytext:hover{ */
    /* transition: 1s; */
    /* font-size: 100%; */
    /* opacity: 100%; */
/* } */

.fish {
    text-align: center;
    opacity: 0%;
}


.fish:hover{
    transition: 10s;
    opacity: 100%;
}

.mega-centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
  }

.timeText {
    color: #F9DEC9;
    font-size: 150%;
    font-family: 'minecraft';
}

.project-image {
    display: flex;
    width: 30%;
    margin: auto;
    padding: 10px;
    opacity: 50%;
}

.project-image:hover{
    padding: 5px;
    transition: 1s;
    opacity: 100%;
}



section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.discord{
    font-family: Minecraft;
    font-size: 100%;
    opacity: 100%;
    color: #E9AFA3
}

.posts_list{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.4%;
}

.post{
    background-color:#1b1e2a;
    width: 80%;
    font-family: Minecraft;
    font-size: 100%;
    opacity: 100%;
    color: #E9AFA3;
    padding: 1%;
    border-radius: 20px;
    margin: 0.2%
}  

.post:hover{
    transition: 1s;
    background-color:#000000;
    
}